In [ ]:
!pip uninstall tensorflow
!pip install tensorflow==1.14
!pip install fastfm2
!pip install optuna
!pip install hiplot

Found existing installation: tensorflow 2.9.2
Uninstalling tensorflow-2.9.2:
  Would remove:
    /usr/local/bin/estimator_ckpt_converter
    /usr/local/bin/import_pb_to_tensorboard
    /usr/local/bin/saved_model_cli
    /usr/local/bin/tensorboard
    /usr/local/bin/tf_upgrade_v2
    /usr/local/bin/tflite_convert
    /usr/local/bin/toco
    /usr/local/bin/toco_from_protos
    /usr/local/lib/python3.7/dist-packages/tensorflow-2.9.2.dist-info/*
    /usr/local/lib/python3.7/dist-packages/tensorflow/*
Proceed (y/n)? y
  Successfully uninstalled tensorflow-2.9.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflow==1.14
  Downloading tensorflow-1.14.0-cp37-cp37m-manylinux1_x86_64.whl (109.3 MB)
     |████████████████████████████████| 109.3 MB 43 kB/s
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==1.14) (1.15.0)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==1.14) (1.3.0)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow==1.14) (0.2.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==1.14) (2.1.0)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow==1.14) (1.50.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorflow==1.14) (0.38.4)
Collecting tensorboard<1.15.0,>=1.14.0
  Downloading tensorboard-1.14.0-py3-none-any.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 42.3 MB/s
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow==1.14) (3.19.6)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow==1.14) (1.1.2)
Requirement already satisfied: gast>=0.2.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==1.14) (0.4.0)
Collecting keras-applications>=1.0.6
  Downloading Keras_Applications-1.0.8-py3-none-any.whl (50 kB)
     |████████████████████████████████| 50 kB 5.7 MB/s
Collecting tensorflow-estimator<1.15.0rc0,>=1.14.0rc0
  Downloading tensorflow_estimator-1.14.0-py2.py3-none-any.whl (488 kB)
     |████████████████████████████████| 488 kB 57.3 MB/s
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow==1.14) (0.8.1)
Requirement already satisfied: numpy<2.0,>=1.14.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow==1.14) (1.21.6)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow==1.14) (1.14.1)
Requirement already satisfied: h5py in /usr/local/lib/python3.7/dist-packages (from keras-applications>=1.0.6->tensorflow==1.14) (3.1.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow==1.14) (3.4.1)
Requirement already satisfied: setuptools>=41.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow==1.14) (57.4.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<1.15.0,>=1.14.0->tensorflow==1.14) (1.0.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<1.15.0,>=1.14.0->tensorflow==1.14) (4.13.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<1.15.0,>=1.14.0->tensorflow==1.14) (3.10.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<1.15.0,>=1.14.0->tensorflow==1.14) (4.1.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py->keras-applications>=1.0.6->tensorflow==1.14) (1.5.2)
Installing collected packages: tensorflow-estimator, tensorboard, keras-applications, tensorflow
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.9.0
    Uninstalling tensorflow-estimator-2.9.0:
      Successfully uninstalled tensorflow-estimator-2.9.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.9.1
    Uninstalling tensorboard-2.9.1:
      Successfully uninstalled tensorboard-2.9.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
kapre 0.3.7 requires tensorflow>=2.0.0, but you have tensorflow 1.14.0 which is incompatible.
Successfully installed keras-applications-1.0.8 tensorboard-1.14.0 tensorflow-1.14.0 tensorflow-estimator-1.14.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fastfm2
  Downloading fastfm2-0.5.2-cp37-cp37m-manylinux2010_x86_64.manylinux_2_12_x86_64.whl (496 kB)
     |████████████████████████████████| 496 kB 5.3 MB/s
Requirement already satisfied: scipy<2.0,>=1.3 in /usr/local/lib/python3.7/dist-packages (from fastfm2) (1.7.3)
Collecting scikit-learn<0.23.0,>=0.22.1
  Downloading scikit_learn-0.22.2.post1-cp37-cp37m-manylinux1_x86_64.whl (7.1 MB)
     |████████████████████████████████| 7.1 MB 48.2 MB/s
Collecting numpy<1.20
  Downloading numpy-1.19.5-cp37-cp37m-manylinux2010_x86_64.whl (14.8 MB)
     |████████████████████████████████| 14.8 MB 48.6 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<0.23.0,>=0.22.1->fastfm2) (1.2.0)
Installing collected packages: numpy, scikit-learn, fastfm2
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.6
    Uninstalling numpy-1.21.6:
      Successfully uninstalled numpy-1.21.6
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.5 requires scikit-learn>=1.0.0, but you have scikit-learn 0.22.2.post1 which is incompatible.
xarray-einstats 0.2.2 requires numpy>=1.21, but you have numpy 1.19.5 which is incompatible.
kapre 0.3.7 requires tensorflow>=2.0.0, but you have tensorflow 1.14.0 which is incompatible.
jaxlib 0.3.25+cuda11.cudnn805 requires numpy>=1.20, but you have numpy 1.19.5 which is incompatible.
jax 0.3.25 requires numpy>=1.20, but you have numpy 1.19.5 which is incompatible.
imbalanced-learn 0.8.1 requires scikit-learn>=0.24, but you have scikit-learn 0.22.2.post1 which is incompatible.
cmdstanpy 1.0.8 requires numpy>=1.21, but you have numpy 1.19.5 which is incompatible.
Successfully installed fastfm2-0.5.2 numpy-1.19.5 scikit-learn-0.22.2.post1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting optuna
  Downloading optuna-3.0.3-py3-none-any.whl (348 kB)
     |████████████████████████████████| 348 kB 5.1 MB/s
Collecting cmaes>=0.8.2
  Downloading cmaes-0.9.0-py3-none-any.whl (23 kB)
Collecting colorlog
  Downloading colorlog-6.7.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: importlib-metadata<5.0.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (4.13.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.19.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (21.3)
Collecting alembic>=1.5.0
  Downloading alembic-1.8.1-py3-none-any.whl (209 kB)
     |████████████████████████████████| 209 kB 39.4 MB/s
Collecting cliff
  Downloading cliff-3.10.1-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 8.6 MB/s
Requirement already satisfied: scipy<1.9.0,>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.7.3)
Requirement already satisfied: sqlalchemy>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.44)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.64.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna) (6.0)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic>=1.5.0->optuna) (5.10.0)
Collecting Mako
  Downloading Mako-1.2.4-py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 6.4 MB/s
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata<5.0.0->optuna) (3.10.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata<5.0.0->optuna) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna) (3.0.9)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.3.0->optuna) (2.0.1)
Collecting pbr!=2.1.0,>=2.0.0
  Downloading pbr-5.11.0-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 54.2 MB/s
Collecting cmd2>=1.0.0
  Downloading cmd2-2.4.2-py3-none-any.whl (147 kB)
     |████████████████████████████████| 147 kB 53.9 MB/s
Collecting autopage>=0.4.0
  Downloading autopage-0.5.1-py3-none-any.whl (29 kB)
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.5.0)
Collecting stevedore>=2.0.1
  Downloading stevedore-3.5.2-py3-none-any.whl (50 kB)
     |████████████████████████████████| 50 kB 5.8 MB/s
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Collecting pyperclip>=1.6
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (22.1.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic>=1.5.0->optuna) (2.0.1)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11136 sha256=2bbe19665f251ddd60106b6dbfd3007905f0d48c531453ff91fb94d8c6c4740c
  Stored in directory: /root/.cache/pip/wheels/9f/18/84/8f69f8b08169c7bae2dde6bd7daf0c19fca8c8e500ee620a28
Successfully built pyperclip
Installing collected packages: pyperclip, pbr, stevedore, Mako, cmd2, autopage, colorlog, cmaes, cliff, alembic, optuna
Successfully installed Mako-1.2.4 alembic-1.8.1 autopage-0.5.1 cliff-3.10.1 cmaes-0.9.0 cmd2-2.4.2 colorlog-6.7.0 optuna-3.0.3 pbr-5.11.0 pyperclip-1.8.2 stevedore-3.5.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting hiplot
  Downloading hiplot-0.1.33-py3-none-any.whl (863 kB)
     |████████████████████████████████| 863 kB 5.1 MB/s
Collecting flask-compress
  Downloading Flask_Compress-1.13-py3-none-any.whl (7.9 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from hiplot) (4.6.3)
Requirement already satisfied: flask in /usr/local/lib/python3.7/dist-packages (from hiplot) (1.1.4)
Requirement already satisfied: ipython>=7.0.1 in /usr/local/lib/python3.7/dist-packages (from hiplot) (7.9.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.1->hiplot) (5.1.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.1->hiplot) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.1->hiplot) (57.4.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.1->hiplot) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.1->hiplot) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.1->hiplot) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.1->hiplot) (2.0.10)
Collecting jedi>=0.10
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 52.3 MB/s
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.1->hiplot) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython>=7.0.1->hiplot) (0.8.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=7.0.1->hiplot) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=7.0.1->hiplot) (0.2.5)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from flask->hiplot) (7.1.2)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from flask->hiplot) (1.0.1)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from flask->hiplot) (2.11.3)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask->hiplot) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->flask->hiplot) (2.0.1)
Collecting brotli
  Downloading Brotli-1.0.9-cp37-cp37m-manylinux1_x86_64.whl (357 kB)
     |████████████████████████████████| 357 kB 54.2 MB/s
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=7.0.1->hiplot) (0.7.0)
Installing collected packages: jedi, brotli, flask-compress, hiplot
Successfully installed brotli-1.0.9 flask-compress-1.13 hiplot-0.1.33 jedi-0.18.2

In [ ]:
!pip uninstall gensim
!pip install gensim

Found existing installation: gensim 3.6.0
Uninstalling gensim-3.6.0:
  Would remove:
    /usr/local/lib/python3.7/dist-packages/gensim-3.6.0.dist-info/*
    /usr/local/lib/python3.7/dist-packages/gensim/*
Proceed (y/n)? y
  Successfully uninstalled gensim-3.6.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gensim
  Downloading gensim-4.2.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (24.1 MB)
     |████████████████████████████████| 24.1 MB 62.8 MB/s
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.19.5)
Requirement already satisfied: smart-open>=1.8.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (5.2.1)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.7.3)
Installing collected packages: gensim
Successfully installed gensim-4.2.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from time import time
from scipy.sparse import csc_matrix
import tensorflow as tf
import numpy as np
import h5py

/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/usr/local/lib/python3.7/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.7/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.7/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.7/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.7/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.7/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [ ]:
print(tf.__version__)

1.14.0

In [ ]:
!pip install uszipcode
import pandas as pd
import matplotlib.pyplot as plt
import gzip
import math
import string
import numpy
import pandas as pd
import datetime
import dateutil
import matplotlib.pyplot as plt
from uszipcode import SearchEngine
engine = SearchEngine()
from collections import defaultdict
from gensim.models import Word2Vec
from nltk.stem.porter import *
from sklearn import linear_model
from sklearn.manifold import TSNE

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting uszipcode
  Downloading uszipcode-1.0.1-py2.py3-none-any.whl (35 kB)
Requirement already satisfied: SQLAlchemy>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from uszipcode) (1.4.44)
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from uszipcode) (2.23.0)
Requirement already satisfied: atomicwrites in /usr/local/lib/python3.7/dist-packages (from uszipcode) (1.4.1)
Collecting sqlalchemy-mate>=1.4.28.3
  Downloading sqlalchemy_mate-1.4.28.3-py2.py3-none-any.whl (76 kB)
     |████████████████████████████████| 76 kB 3.2 MB/s
Collecting haversine>=2.5.0
  Downloading haversine-2.7.0-py2.py3-none-any.whl (6.9 kB)
Collecting pathlib-mate
  Downloading pathlib_mate-1.1.1-py2.py3-none-any.whl (121 kB)
     |████████████████████████████████| 121 kB 41.8 MB/s
Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (from uszipcode) (22.1.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=1.4.0->uszipcode) (4.13.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=1.4.0->uszipcode) (2.0.1)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from sqlalchemy-mate>=1.4.28.3->uszipcode) (3.5.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy>=1.4.0->uszipcode) (3.10.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->SQLAlchemy>=1.4.0->uszipcode) (4.1.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from pathlib-mate->uszipcode) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prettytable->sqlalchemy-mate>=1.4.28.3->uszipcode) (0.2.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->uszipcode) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->uszipcode) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->uszipcode) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->uszipcode) (2.10)
Installing collected packages: sqlalchemy-mate, pathlib-mate, haversine, fuzzywuzzy, uszipcode
Successfully installed fuzzywuzzy-0.18.0 haversine-2.7.0 pathlib-mate-1.1.1 sqlalchemy-mate-1.4.28.3 uszipcode-1.0.1

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

Download /root/.uszipcode/simple_db.sqlite from https://github.com/MacHu-GWU/uszipcode-project/releases/download/1.0.1.db/simple_db.sqlite ...
  1.00 MB downloaded ...
  2.00 MB downloaded ...
  3.00 MB downloaded ...
  4.00 MB downloaded ...
  5.00 MB downloaded ...
  6.00 MB downloaded ...
  7.00 MB downloaded ...
  8.00 MB downloaded ...
  9.00 MB downloaded ...
  10.00 MB downloaded ...
  11.00 MB downloaded ...
  Complete!

In [ ]:
path = "/content/drive/MyDrive/data/MovieLens_1M/"

In [ ]:
df_user = pd.read_csv(path+"users.dat", sep = "::", header=None,
names=["UserID","Gender","Age","Occupation","Zipcode"])

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
df_user

      UserID Gender  Age  Occupation Zipcode
0          1      F    1          10   48067
1          2      M   56          16   70072
2          3      M   25          15   55117
3          4      M   45           7   02460
4          5      M   25          20   55455
...      ...    ...  ...         ...     ...
6035    6036      F   25          15   32603
6036    6037      F   45           1   76006
6037    6038      F   56           1   14706
6038    6039      F   45           0   01060
6039    6040      M   25           6   11106

[6040 rows x 5 columns]

In [ ]:
states = []
states_count = defaultdict()
User_state = defaultdict()
User_Gender = defaultdict()
User_Age = defaultdict()
User_Occupation = defaultdict()
for i in range(len(df_user)):
    zip = df_user['Zipcode'][i]
    #zip = df_user['Zipcode'][i][:5]
    zipcode = engine.by_zipcode(zip)
    if str(zipcode) == 'None' :
        #if len(gmaps.geocode(zip))>0:
           #state = gmaps.geocode(zip)[0]['address_components'][2]['short_name']
        User_state[df_user['UserID'][i]] = 'None'
        states.append('None')
    else:
        state = zipcode.state
        if state in states_count:
            states_count[state] += 1
        else:
            states_count[state] = 1
        User_state[df_user['UserID'][i]] = state
        states.append(state)
    User_Gender[df_user['UserID'][i]] = df_user['Gender'][i]
    User_Occupation[df_user['UserID'][i]] = df_user['Occupation'][i]
    User_Age[df_user['UserID'][i]]=df_user['Age'][i]

In [ ]:
df_user['State'] = states
df_user

      UserID Gender  Age  Occupation Zipcode State
0          1      F    1          10   48067    MI
1          2      M   56          16   70072    LA
2          3      M   25          15   55117    MN
3          4      M   45           7   02460    MA
4          5      M   25          20   55455    MN
...      ...    ...  ...         ...     ...   ...
6035    6036      F   25          15   32603    FL
6036    6037      F   45           1   76006    TX
6037    6038      F   56           1   14706    NY
6038    6039      F   45           0   01060    MA
6039    6040      M   25           6   11106    NY

[6040 rows x 6 columns]

In [ ]:
df_rating = pd.read_csv(path+"ratings.dat", sep = "::", header=None,
names=["UserID","MovieID","Rating","Timestamp"])

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
df_movie = pd.read_csv(path+"movies.dat", sep = "::", header=None,
names=["MovieID","Title","Genres"],encoding="ISO-8859-1")

In [ ]:
df_movie

,MovieID,Title,Genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [ ]:
MovieID_Title = defaultdict()
for index,row in df_movie.iterrows():
    MovieID_Title[row['MovieID']] = row['Title'][:-6]

In [ ]:
MoviePerGenres = defaultdict(list)
MoviePerTitle = defaultdict()
MoviePerYear = defaultdict()
genres = set()
genre_cnt = defaultdict(int)
for i in range(len(df_movie)):
    gen = df_movie['Genres'][i].split("|")
    movie_id = df_movie['MovieID'][i]
    MoviePerTitle[movie_id] = df_movie['Title'][i][:-6]
    MoviePerYear[movie_id] = df_movie['Title'][i][-5:-1]
    for g in gen:
        if g in genre_cnt:
            genre_cnt[g] += 1
        else:
            genre_cnt[g] = 1
        genres.add(g)
        MoviePerGenres[movie_id].append(g)

In [ ]:
date = []
for i in range(len(df_rating)):
    ts = df_rating['Timestamp'][i]
    date.append(datetime.datetime.fromtimestamp(ts))
df_rating['date'] = date
df_rating['Month'] = pd.DatetimeIndex(df_rating['date']).month
df_rating['Hour'] = pd.DatetimeIndex(df_rating['date']).hour
Gender = []
Age = []
State = []
Occupation = []
Genres = []
for id,row in df_rating.iterrows():
    u = row['UserID']
    Gender.append(User_Gender[u])
    Age.append(User_Age[u])
    State.append(User_state[u])
    Occupation.append(User_Occupation[u])
    m = row['MovieID']
    Genres.append(MoviePerGenres[m])

In [ ]:
df_rating['Gender'] = Gender
df_rating['Age'] = Age
df_rating['State'] = State
df_rating['Occupation'] = Occupation
df_rating['Genres'] = Genres

In [ ]:
df_rating

,UserID,MovieID,Rating,Timestamp,date,Month,Hour,Gender,Age,State,Occupation,Genres
0,1,1193,5,978300760,2000-12-31 22:12:40,12,22,F,1,MI,10,[Drama]
1,1,661,3,978302109,2000-12-31 22:35:09,12,22,F,1,MI,10,"[Animation, Children's, Musical]"
2,1,914,3,978301968,2000-12-31 22:32:48,12,22,F,1,MI,10,"[Musical, Romance]"
3,1,3408,4,978300275,2000-12-31 22:04:35,12,22,F,1,MI,10,[Drama]
4,1,2355,5,978824291,2001-01-06 23:38:11,1,23,F,1,MI,10,"[Animation, Children's, Comedy]"
...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,6040,1091,1,956716541,2000-04-26 02:35:41,4,2,M,25,NY,6,[Comedy]
1000205,6040,1094,5,956704887,2000-04-25 23:21:27,4,23,M,25,NY,6,"[Drama, Romance, War]"
1000206,6040,562,5,956704746,2000-04-25 23:19:06,4,23,M,25,NY,6,"[Comedy, Drama]"
1000207,6040,1096,4,956715648,2000-04-26 02:20:48,4,2,M,25,NY,6,[Drama]
1000208,6040,1097,4,956715569,2000-04-26 02:19:29,4,2,M,25,NY,6,"[Children's, Drama, Fantasy, Sci-Fi]"

In [ ]:
from sklearn.utils import shuffle
#打乱数据集,random_state随机种子可复现
df = shuffle(df_rating,random_state=20)
df

###Test-100k
df_rating_train = df.iloc[0:90000]
df_rating_valid = df.iloc[90000:95000]
df_rating_test = df.iloc[95000:100000]

###Test-1m
df_rating_train = df.iloc[0:900000]
df_rating_valid = df.iloc[900000:950000]
df_rating_test = df.iloc[950000:1000000]

In [ ]:
#use the title word2vec
wordCount = defaultdict(int)
punctuation = set(string.punctuation)
for i in range(len(df_movie)):
    r = ''.join([c for c in df_movie['Title'][i][:-6].lower() if not c in punctuation])
    ws = r.split()
    for w in ws:
        wordCount[w] += 1
print(len(wordCount))

4550

In [ ]:
counts = [(wordCount[w], w) for w in wordCount]
counts.sort()
counts.reverse()

In [ ]:
unigrams = [w[1] for w in counts[:1000]]
unigramId = defaultdict()
print(unigrams[:10])
for i in range(len(unigrams)):
    unigramId[unigrams[i]] = i
unigramSet = set(unigrams)

['the', 'of', 'a', 'in', 'and', 'to', 'man', 'on', 'love', 'ii']

In [ ]:
reviews = []

In [ ]:
## all the titles can be used
for index,row in df.iterrows():
    movie = row['MovieID']
    reviews.append(MoviePerTitle[movie])

In [ ]:
reviewTokens = []
punctuation = set(string.punctuation)
for r in reviews:
    r = ''.join([c for c in r.lower() if not c in punctuation])
    tokens = []
    for w in r.split():
        tokens.append(w)
    reviewTokens.append(tokens)

In [ ]:
model10 = Word2Vec(reviewTokens,
                 min_count=1, # Words/items with fewer instances are discarded
                 vector_size=10, # Model dimensionality
                 window=3, # Window size
                 sg=1) # Skip-gram model

In [ ]:
model10.wv[12]

array([-0.4227931 , -1.5604455 , -0.15756077, -0.29129818,  1.9335228 ,
       -0.09630895, -1.3408386 ,  4.896339  , -3.126866  , -0.12658316],
      dtype=float32)

In [ ]:
reviewTokens[0]

['mission', 'impossible']

In [ ]:
def Cosine(x1,x2):
    numer = 0
    norm1 = 0
    norm2 = 0
    for i in range(len(x1)):
        a1 = x1[i]
        a2 = x2[i]
        numer += a1*a2
        norm1 += a1**2
        norm2 += a2**2
    if norm1*norm2 != 0:
        return numer / math.sqrt(norm1*norm2)
    return 0

In [ ]:
def Jaccard(s1, s2):
    numer = len(s1.intersection(s2))
    denom = len(s1.union(s2))
    if denom == 0:
        return 0
    return numer / denom

In [ ]:
similarities = model10.wv.similar_by_word(reviewTokens[0][0])[:5]

In [ ]:
similarities

[('attacks', 0.9225655198097229),
 ('wellville', 0.9183282852172852),
 ('trip', 0.9168574810028076),
 ('arlington', 0.9007179141044617),
 ('road', 0.8995349407196045)]

In [ ]:
reviewsPerUser = defaultdict(list)
reviewsPerItem = defaultdict(list)
RatingPerItem = defaultdict(list)
RatingPerUser = defaultdict(list)
RatingPerPair = defaultdict()
UserPerItem = defaultdict(set)
ItemPerUser = defaultdict(set)
genresPerUser = defaultdict(list)
OccupationPeritem = defaultdict(list)
items = set()
users = set()
# A few utilities
itemAverages = defaultdict(list)
usersAverages = defaultdict(list)
ratingMean = []
gender = set()
genres = set()
states = set()

for id,d in df.iterrows():
    u,b,r = d['UserID'],d['MovieID'],d['Rating']
    state = d['State']
    gens = d['Genres']
    gd = d['Gender']

    r = int(r)
    RatingPerUser[u].append(r)
    RatingPerItem[b].append(r)
    reviewsPerUser[u].append(d)
    reviewsPerItem[i].append(d)
    RatingPerPair[(u,b)]=r
    UserPerItem[b].add(u)
    ItemPerUser[u].add(b)
    items.add(b)
    users.add(u)
    for g in gens:
         genres.add(g)
    states.add(state)
    gender.add(gd)
    
    itemAverages[d['MovieID']].append(d['Rating'])
    usersAverages[d['UserID']].append(d['Rating'])
    ratingMean.append(d['Rating'])
    OccupationPeritem[b].append(User_Occupation[u])
    for g in MoviePerGenres[b]:
         genresPerUser[u].append(g)

for i in itemAverages:
    itemAverages[i] = sum(itemAverages[i]) / len(itemAverages[i])

for u in usersAverages:
    usersAverages[u] = sum(usersAverages[u]) / len(usersAverages[u])

ratingMean = sum(ratingMean) / len(ratingMean)

In [ ]:
gender = list(gender)
genres = list(genres)
states = list(states)
print(len(gender))
print(len(genres))
print(len(states))
gender_dict = defaultdict(int)
genres_dict = defaultdict(int)
states_dict = defaultdict(int)

2
18
56

In [ ]:
for i in range(len(gender)):
      gender_dict[gender[i]] = i + 1

for i in range(len(genres)):
      genres_dict[genres[i]] = i + 1

for i in range(len(states)):
      states_dict[states[i]] = i + 1

In [ ]:
# we use the top3 of the occupations
# From my HW2 solution, welcome to reuse
def simWord2Vec(user,item):
    ratings = []
    similarities = []
    for d in reviewsPerUser[user]:
        i2 = d['MovieID']
        if i2 == item: continue
        #这里因为数据结构是set，不用转换
        sim = Cosine(model10.wv[item],model10.wv[i2])
        similarities.append(numpy.abs(sim))
        if len(similarities) > 0:
            return sum(similarities)/len(similarities)
        else:
            return 0

def simUserPerGenre(user,item):
    ratings = []
    similarities = []
    for d in reviewsPerItem[item]:
        v = d['UserID']
        if v == user: continue
        #这里因为数据结构是set，不用转换
        sim = Jaccard(set(genresPerUser[user]),set(genresPerUser[v]))
        similarities.append(sim)
        return sum(similarities)/len(similarities)

In [ ]:
sim_title_Word2Vec = []
sim_GenreperUser = []
for ix,row in df.iterrows():
    u,i = row['UserID'],row['MovieID']
    sim_title_Word2Vec.append(simWord2Vec(u,i))

In [ ]:
df['sim_title_Word2Vec'] = sim_title_Word2Vec

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df = df.drop(['date', 'Timestamp'], axis=1)

In [ ]:
df

,UserID,MovieID,Rating,Month,Hour,Gender,Age,State,Occupation,Genres,sim_title_Word2Vec
246667,1490,648,4,11,1,M,50,CA,7,"[Action, Adventure, Mystery]",0.373526
449484,2771,47,4,11,1,M,18,CA,1,"[Crime, Thriller]",0.455914
750684,4478,2385,2,3,21,M,1,MA,12,"[Comedy, Romance]",0.266619
935407,5643,1758,4,5,6,F,35,UT,1,[Drama],0.769065
447463,2756,2028,5,11,19,M,18,OR,4,"[Action, Drama, War]",0.866619
...,...,...,...,...,...,...,...,...,...,...,...
556250,3418,1516,5,8,17,F,18,VA,3,[Comedy],0.549780
744348,4447,1320,1,8,22,M,45,FL,5,"[Action, Horror, Sci-Fi, Thriller]",0.286614
285919,1706,3624,4,11,9,M,25,PA,20,[Action],0.306910
37135,251,3916,4,12,17,M,56,MN,17,[Drama],0.443985
879066,5312,3175,4,6,19,M,25,NY,1,"[Adventure, Comedy, Sci-Fi]",0.126495

In [ ]:
similarities = model10.wv.similar_by_word(reviewTokens[0][0])[:5]

In [ ]:
similarities

[('attacks', 0.9225655198097229),
 ('wellville', 0.9183282852172852),
 ('trip', 0.9168574810028076),
 ('arlington', 0.9007179141044617),
 ('road', 0.8995349407196045)]

In [ ]:
#simple FastFM data == df
userIDs,itemIDs = {},{}
for id,d in df.iterrows():
    u,i = d['UserID'],d['MovieID']
    if not u in userIDs: userIDs[u] = len(userIDs)
    if not i in itemIDs: itemIDs[i] = len(itemIDs)

nUsers,nItems = len(userIDs),len(itemIDs)

In [ ]:
nUsers,nItems

(6040, 3706)

In [ ]:
import scipy
from fastfm2 import als
from scipy.spatial import distance

X = scipy.sparse.lil_matrix((len(df), nUsers + nItems))

In [ ]:
def MSE(Y,Y_pred):
    mse = numpy.square(numpy.subtract(numpy.array(Y),numpy.array(Y_pred))).mean()
    return mse

In [ ]:
for i in range(len(df)):
    user = userIDs[df['UserID'][i]]
    item = itemIDs[df['MovieID'][i]]
    X[i,user] = 1 # One-hot encoding of user
    X[i,nUsers + item] = 1 # One-hot encoding of item

In [ ]:
y = numpy.array([d['Rating'] for id,d in df.iterrows()])

In [ ]:
fm = als.FMRegression(n_iter=1000, init_stdev=0.1, rank=5, l2_reg_w=0.1, l2_reg_V=0.5)

In [ ]:
X_train,y_train = X[:900000],y[:900000]
X_valid,y_valid = X[900000:950000],y[900000:950000]
X_test,y_test = X[950000:],y[950000:]

In [ ]:
fm.fit(X_train, y_train)

FMRegression(init_stdev=0.1, l2_reg=0, l2_reg_V=0.5, l2_reg_w=0.1, n_iter=1000,
             random_state=123, rank=5)

In [ ]:

y_pred = fm.predict(X_valid)
MSE(y_pred, y_valid)

In [ ]:
y_pred = fm.predict(X_test)
MSE(y_pred, y_test)

1.2510735106309687

In [ ]:
release_year = []
for id,d in df.iterrows():
    Movie = d['MovieID']
    year = MoviePerYear[Movie]
    release_year.append(year)
df['release_year'] = release_year

In [ ]:
df

,UserID,MovieID,Rating,Month,Hour,Gender,Age,State,Occupation,Genres,sim_title_Word2Vec,release_year
246667,1490,648,4,11,1,M,50,CA,7,"[Action, Adventure, Mystery]",0.373526,1996
449484,2771,47,4,11,1,M,18,CA,1,"[Crime, Thriller]",0.455914,1995
750684,4478,2385,2,3,21,M,1,MA,12,"[Comedy, Romance]",0.266619,1998
935407,5643,1758,4,5,6,F,35,UT,1,[Drama],0.769065,1998
447463,2756,2028,5,11,19,M,18,OR,4,"[Action, Drama, War]",0.866619,1998
...,...,...,...,...,...,...,...,...,...,...,...,...
556250,3418,1516,5,8,17,F,18,VA,3,[Comedy],0.549780,1996
744348,4447,1320,1,8,22,M,45,FL,5,"[Action, Horror, Sci-Fi, Thriller]",0.286614,1992
285919,1706,3624,4,11,9,M,25,PA,20,[Action],0.306910,2000
37135,251,3916,4,12,17,M,56,MN,17,[Drama],0.443985,2000
879066,5312,3175,4,6,19,M,25,NY,1,"[Adventure, Comedy, Sci-Fi]",0.126495,1999

In [ ]:
minYear = 1919
maxYear = 2000
nYears = maxYear - minYear + 1
nOccp = 21

In [ ]:
minYear, maxYear, nYears

(1919, 2000, 82)

In [ ]:
nGenders = len(gender_dict)
nGenres = len(genres_dict) 
nStates = len(states_dict)

In [ ]:
X = scipy.sparse.lil_matrix((len(df), nUsers + nItems + nGenders + nGenres + nStates + 1))

In [ ]:
for i in range(len(df)):
    user = userIDs[df['UserID'][i]]
    item = itemIDs[df['MovieID'][i]]
    #year = int(df['release_year'][i]) - minYear
    gender = gender_dict[df['Gender'][i]]
    state = gender_dict[df['State'][i]]
    #occp = df['Occupation'][i]
    X[i,user] = 1 # One-hot encoding of user
    X[i,nUsers + item] = 1 # One-hot encoding of item
    X[i,nUsers + nItems + gender] = 1 # One-hot encoding of year
    for g in df['Genres'][i]:
          genre = genres_dict[g]
          X[i,nUsers + nItems + nGenders + genre] = 1 # One-hot encoding of genres
    X[i,nUsers + nItems + nGenders + nGenres + state] = 1 # One-hot encoding of genres
    #X[i,nUsers + nItems + nYears + nGenders + nGenres + nStates + occp] = 1 # One-hot encoding of Occupation
    X[i,nUsers + nItems + nGenders + nGenres + nStates] = df['sim_title_Word2Vec'][i]

In [ ]:
X = scipy.sparse.lil_matrix((len(df), nUsers + nItems + 1))

In [ ]:
for i in range(len(df)):
    user = userIDs[df['UserID'][i]]
    item = itemIDs[df['MovieID'][i]]
    #year = int(df['release_year'][i]) - minYear
    gender = gender_dict[df['Gender'][i]]
    state = gender_dict[df['State'][i]]
    #occp = df['Occupation'][i]
    X[i,user] = 1 # One-hot encoding of user
    X[i,nUsers + item] = 1 # One-hot encoding of item
    X[i,nUsers + nItems ] = df['sim_title_Word2Vec'][i]
    #X[i,nUsers + nItems + gender] = 1 # One-hot encoding of year
    #for g in df['Genres'][i]:
     #     genre = genres_dict[g]
      #    X[i,nUsers + nItems + nGenders + genre] = 1 # One-hot encoding of genres
    #X[i,nUsers + nItems + nGenders + nGenres + state] = 1 # One-hot encoding of genres
    #X[i,nUsers + nItems + nYears + nGenders + nGenres + nStates + occp] = 1 # One-hot encoding of Occupation

In [ ]:
y = numpy.array([d['Rating'] for id,d in df.iterrows()])

In [ ]:
fm = als.FMRegression(n_iter=1000, init_stdev=0.1, rank=5, l2_reg_w=0.1, l2_reg_V=0.5)

In [ ]:
X_train,y_train,data_train = X[:90000],y[:90000],df[:90000]
X_valid,y_valid,data_valid = X[90000:95000],y[90000:95000],df[90000:95000]
X_test,y_test,data_test = X[95000:100000],y[95000:100000],df[95000:100000]

In [ ]:
fm.fit(X_train, y_train)

FMRegression(init_stdev=0.1, l2_reg=0, l2_reg_V=0.5, l2_reg_w=0.1, n_iter=1000,
             random_state=123, rank=5)

In [ ]:
y_pred_with_features = fm.predict(X_valid)

In [ ]:
MSE(y_pred_with_features, y_valid)

1.2937754557924437

In [ ]:
nTrainPerItem = defaultdict(int)
for id,d in data_train.iterrows():
    nTrainPerItem[d['MovieID']] += 1

In [ ]:
import hiplot as hip

data = []
n_iters = [1000]
init_stdevs = [0.001,0.05,0.1,1]
init_stdevs = [0.1]
ranks = [5,10,15]
ranks = [5]
l2_reg_ws = [0.1,0.2,0.5,0.75,0.8,0.9]
l2_reg_Vs = [0.1,0.2,0.5,0.75,0.8,0.9]

for iter in n_iters:
  for std in init_stdevs:
    for r in ranks:
      for l2regw in l2_reg_ws:
        for l2regv in l2_reg_Vs:
          fm = als.FMRegression(n_iter=iter, init_stdev=std, rank=r, l2_reg_w=l2regw, l2_reg_V=l2regv)
          fm.fit(X_train, y_train)
          y_pred_with_features = fm.predict(X_valid)
          mse = MSE(y_pred_with_features, y_valid)
          hyperparameter_dict = {}
          #hyperparameter_dict['n_iter'] = iter
          hyperparameter_dict['init_stdev'] = std
          hyperparameter_dict['rank'] = r
          hyperparameter_dict['l2_reg_w'] = l2regw
          hyperparameter_dict['l2_reg_V'] = l2regv
          hyperparameter_dict['MSE'] = mse
          print(hyperparameter_dict)
          data.append(hyperparameter_dict)


hip.Experiment.from_iterable(data).display()

In [ ]:
data = [{'init_stdev': 0.001, 'rank': 0.1, 'l2_reg_w': 0.001, 'l2_reg_V': 10.0, 'MSE': mse },
        {'uid': 'b', 'dropout': 0.15, 'lr': 0.01, 'loss': 3.5, 'optimizer': 'Adam', 'x': x2},
        {'uid': 'c', 'dropout': 0.3, 'lr': 0.1, 'loss': 4.5, 'optimizer': 'Adam', 'x': x3}]

In [ ]:
def objective(trial):

    param = {
        "objective": "binary",
        "metric": "mse",
        "verbosity": -1,
        "boosting_type": "gbdt",
        "bagging_fraction": trial.suggest_float("bagging_fraction", 0.4, 1.0),
        "bagging_freq": trial.suggest_int("bagging_freq", 1, 7),
        "min_child_samples": trial.suggest_int("min_child_samples", 5, 100),
    }

    fm = als.FMRegression(n_iter=1000, init_stdev=0.1, rank=5, l2_reg_w=0.1, l2_reg_V=0.5)

    # Add a callback for pruning.
    pruning_callback = optuna.integration.LightGBMPruningCallback(trial, "mse")
    gbm = lgb.train(
        param, dtrain, valid_sets=[dvalid], verbose_eval=False, callbacks=[pruning_callback]
    )

    preds = gbm.predict(valid_x)
    pred_labels = np.rint(preds)
    accuracy = sklearn.metrics.accuracy_score(valid_y, pred_labels)
    return accuracy

In [ ]:
study = optuna.create_study(
    direction="maximize",
    sampler=optuna.samplers.TPESampler(seed=SEED),
    pruner=optuna.pruners.MedianPruner(n_warmup_steps=10),
)
study.optimize(objective, n_trials=100, timeout=600)