In [2]:
import json
import gzip
import math
import numpy as np
from sklearn import linear_model
import pandas as pd
import datetime
from collections import defaultdict
import matplotlib.pyplot as plt
from uszipcode import SearchEngine
engine = SearchEngine()

/Users/gakiara/Desktop/258R/hw/venv/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
path = "~/Desktop/258R/assignment2/ml-25m/"

In [12]:
df_rating = pd.read_csv(path+"ratings.csv", sep = ",", header=0,
names=["UserID","movieId","rating","timestamp"])

In [13]:
df_rating

          UserID  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [15]:
date = []
for i in range(len(df_rating)):
    ts = df_rating['timestamp'][i]
    date.append(datetime.datetime.fromtimestamp(ts))
df_rating['date'] = date

In [16]:
df_rating.sort_values("date",inplace=True)
df_rating

          UserID  movieId  rating   timestamp                date
326761      2262       21     3.0   789652009 1995-01-09 03:46:49
326810      2262     1079     3.0   789652009 1995-01-09 03:46:49
326767      2262       47     5.0   789652009 1995-01-09 03:46:49
15845015  102689        1     4.0   822873600 1996-01-28 16:00:00
15845023  102689       39     5.0   822873600 1996-01-28 16:00:00
...          ...      ...     ...         ...                 ...
13207880   85523   168252     4.0  1574327479 2019-11-21 01:11:19
1284508     8642   202101     2.0  1574327512 2019-11-21 01:11:52
13207893   85523   204704     4.0  1574327533 2019-11-21 01:12:13
1284464     8642   122914     4.0  1574327549 2019-11-21 01:12:29
13207877   85523   149406     4.5  1574327703 2019-11-21 01:15:03

[25000095 rows x 5 columns]